apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: MY_APP_HOST  # replace this, needs to be the extrenal ip, ingresses (traefik) extrenal ip
    http:
      paths:
      - path: /api 
        pathType: Prefix
        backend:
          service:
            name: server-service  # map all /api to 8081 and the rest to 80
            port:
              number: 8081
      - path: /
        pathType: Prefix
        backend:
          service:
            name: app-service  # frontend
            port:
              number: 80




