apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  labels:
    app: server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: shaizah/kube:server-kube
        ports:
        - containerPort: 8081
        env:
          - name: MONGODB_URI
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: MONGODB_URI
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: JWT_SECRET
          - name: CLIENT_IP
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: CLIENT_IP
          

 


