apiVersion: v1
kind: Service
metadata:
  name: server-service
spec:
  # type: NodePort
  
  selector:
    app: server
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      # nodePort: 30081

